@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.login{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.login section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('../../assets/imgs/Login1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    
}
.form-loginbox{
    position: relative;
    width: 500px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-value h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.login input:focus ~ label,
.login input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.login-btn, .login-btn1{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-top: 10px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.login-btn1 {
    margin-top: 15px;
}
.register-block{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-block p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register-block p a:hover{
    text-decoration: underline;
}
.metamask {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.error {
    color: #ff0000;
    font-weight: 500;
}