.product-detail {
    & > div {
        box-shadow: none;
    }
}

.product-detail .product-image {
    position: relative;
    transition: filter 0.5s ease-in-out;
}

.product-detail .product-image img {
    width: 100%;
    object-fit: cover;
}

.product-detail .buy-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-detail:hover .product-image {
    filter: brightness(50%); /* Làm mờ hình ảnh khi hover */
}

.product-detail:hover .buy-button {
    opacity: 1; /* Hiện nút "Mua" khi hover */
}
#token{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    // float: right;
    margin-left: 5px;
}