@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.forum-wrapper {
    min-height: 100vh;
}
.forum__slides {
    width: 100%;
    font-size: 60px;
    font-family: Lobster, sans-serif;
    color: white;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/imgs/forum_slide.jpg");
    margin-bottom: 30px;
    background-size: cover;
}
