@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$error-bg: #eee;
$error-text-color: #363636;
$error-subtext-color: #565656;

.error-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    text-align: center;
    background: $error-bg;
}

.error-page .text_group .text_404 {
    font-family: "Montserrat", cursive;
    font-size: 10em;
    box-sizing: border-box;
    color: $error-text-color;
}

.error-page .text_group .text_lost {
    font-family: "Montserrat", cursive;
    font-size: 2em;
    line-height: 50px;
    box-sizing: border-box;
    color: $error-subtext-color;
}

.error-page .window_group {
    position: relative;
    width: 200px;
    height: 350px;
    box-shadow:
        -3px -3px 0px 5px rgba(212, 212, 212, 1),
        5px 5px 0px 2px rgba(255, 255, 255, 1);
    background: linear-gradient(310deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 107, 1) 0%, rgba(0, 0, 0, 1) 80%);
    border-radius: 100px;
    overflow: hidden;
    box-sizing: border-box;
}

.error-page .window_group .window_404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.error-page .window_group .window_404 .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes twinkle {
    0%,
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(0, 0);
        opacity: 0;
    }
}

// Sử dụng @for để tạo các ngôi sao
@for $i from 1 through 30 {
    .error-page .window_group .window_404 .stars .star:nth-of-type(#{$i}) {
        $left: random() * 80%;
        $top: random() * 80%;
        left: $left;
        top: $top;
        animation: twinkle calc(5s * random()) infinite;
    }
}

@keyframes flyby {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes shootingStar {
    0% {
        left: -10px;
        top: 100px;
        opacity: 1;
        transform: rotate(45deg) scale(0);
    }
    100% {
        left: 280px;
        top: 250px;
        opacity: 0;
        transform: rotate(45deg) scale(1);
    }
}

.error-page .window_group .window_404 .stars .shooting-star {
    position: absolute;
    width: 15px;
    height: 1px;
    background: #ffffff;
    animation: shootingStar 1s infinite;
}
