.review {
    // border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 20px !important;
    border-radius: 10px;
    margin: 10px 0px 10px 0;
    & .review__row1 {
        display: flex;
        flex-direction: row;
        & .review__column1 {
            width: 80%;
            & .review__owner {
                display: flex;
                flex-direction: row;
                padding-bottom: 5px;
                & img {
                    border-radius: 100%;
                    height: 50px;
                    width: 50px;
                }
                & .review__name {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 400;
                    padding-left: 10px;
                }
            }
            & .review__verify {
                color: #62b966;
                font-weight: 500;
                padding-bottom: 5px;
                & > a {
                    text-decoration: none;
                }
            }
        }
        & .review__column2 {
            width: 20%;
        }
    }
    & .review__row2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        & .review__listimgs {
            display: flex;
            flex-direction: row;
        }
        & .review__title {
            font-size: 32px;
        }
    }
}
.review-img-wrapper {
    display: flex;
    width: 100%;
    padding: 20px 0px 20px 0px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    // gap: 2rem;
    & > div {
        height: 8rem;
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 8px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.review__reaction {
    display: flex;
    gap: 20px;
    align-items: center;
}

.like-button,
.dislike-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.like-button:hover,
.dislike-button:hover {
    background-color: #e0e0e0;
}

.like-button > svg,
.dislike-button > svg {
    font-size: 18px;
}

/* Phần đánh dấu số lượng like và dislike */
.like-count,
.dislike-count {
    margin-left: 5px;
}

/* Tuỳ chỉnh màu cho nút Like */

.like-button:hover {
    border-radius: 10px;
    // background-color: #1976d2;
}

.dislike-button:hover {
    // background-color: #d32f2f;
    border-radius: 10px;
}

.like-button.active {
    color: #04a2f0;
}
.dislike-button.active {
    color: #04a2f0;
}

.review-img-inside {
    object-fit: cover;
}
